einops==0.8.0
h5py==3.11.0
librosa==0.10.1
matplotlib==3.8.2
numba==0.60.0
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pyloudnorm==0.1.1
scipy
tensorflow
tensorboard
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
tqdm==4.66.5
webrtcvad==2.0.10
torch-fidelity==0.3.0
importlib_resources
omegaconf
soundfile
torchlibrosa
ftfy
pytorch-lightning==1.9.0
torchmetrics==1.2.1
